%h2 Forgot your password?
.row
  .span8
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      = f.email_field :email, :autofocus => true, style: "width: 400px", placeholder: "Email address"
      = f.submit "Send me reset password instructions", class: "btn btn-primary"
