%div{style:"clear:left;"}
- PrizeProvider.all.each do |provider|
  - if Prize.where(:prize_provider_id => provider.id).where(:user_id => nil).count > 0
    .prize-item-mini-grid
      %p
        = image_tag(provider.image_name, :class => 'prize-card-mini-img')
%div{style:"clear:left;"}
