- if current_user
  %p
    -#= link_to 'Browse games', games_path
  - Script.all.each do |script|
    = link_to script.name, script_level_path(script, ScriptLevel::NEXT)
    %br/

- else
  = link_to "Sign up", new_user_registration_path
  ,
  = link_to "sign in", new_user_session_path
  , or try out our
  = link_to "demo", script_level_path(Script.first, ScriptLevel::NEXT)

