Congratulations!

At least 10 of your students have collected all of the trophies in Code.org's K-8 Intro to Computer Science Course. In addition, 40% of more of these students are female. As a result, you have earned a bonus prize!

To redeem your prize, click the link below:
{my_prizes_path}

Redeem your bonus prize

Thanks
The Code.org Team
