= link_to("#", data: { code: video.youtube_code, name: video.name}, :class => 'video-link') do
  = image_tag(video_thumbnail_url(video), :id => "thumbnail_" + video.youtube_code, :width => 39*4.7, :height => 50*4.7, :class => 'video_thumbnail')
  .video_name
    %span= video.name
- if video_counter.odd?
  .clear
