/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */
$baseFontFamily: 'Gotham A', 'Gotham B', sans-serif;
$headingsFontWeight: 400;
$btnPrimaryBackground: orange;
$btnPrimaryBackgroundHighlight: orange;

@import "bootstrap";

$header_text: white;
$bkgnd_color: #00adbc;
$inset_color: #cde;
$dark_color:  #7665a0;
$hdr_color:   #7665a0;

body {
  padding: 10px;
  font-style: normal;
}

h1 {
  font-weight: 700;
  color: #7665a0;
}

h2 {
  font-weight: 500;
}

hr {
  border-color: #0094ca;
  border-bottom: none;
}

th {
  background-color: #5b6770;
  color: white;
  border: 1px solid white;
  text-align: left;
  font-size: 120%;
  font-weight: 500;
  padding: 5px;
}

.clear {
  clear: both;
}

.navbar {
  margin-bottom: 30px;
}

.production {
  background-color: lightgray;
}

.level_highlight {
  border-radius: 20px;
  color: white;
  font-size: 16px;
  height: 22px;
  padding: 4px 2px 0 2px;
  text-align: center;
  min-width: 22px;
  display: inline-block;
}

.level_current_header {
  background-color: orange;
}

.other_level {
  border-radius: 9px;
  height: 9px;
  min-width: 9px;
  margin-bottom: 1px;
  margin-left: -1px;
  margin-right: -1px;
  display: inline-block;
}

.level_box {
  width: 17px;
  height: 17px;
  margin: 3px;
  display: inline-block;
}

.level_untried {
  background-color: white;
}

.level_undone {
  background-color: $dark_color;
}

.level_done {
  background-color: #e7e9ad;
}

.level_aced {
  background-color: #b9bf15;
}

.trophy_gold {
  background-color: gold;
}

.trophy_silver {
  background-color: silver;
}

.trophy_bronze {
  background-color: darkgoldenrod;
}

.report_cell {
  text-align: center;
  color: white;
  border: 1px solid black;
}

.report_row {
  height: 26px;
  border-top: 1px solid black;
}

.report_key {
  height: 16px;
  border-radius: 5px;
  display: block;
  float: left;
  clear: left;
  width: 23px;
  border: 1px solid lightgray;
  margin: 5px;
  vertical-align: middle;
}

.report_key_cell {
  padding: 3px;
  visibility: middle;
}

.level_current {
  position: relative;
  border: 3px solid yellow;
  top: 3px;
  margin-top: -3px;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 0px;
}

.level_link {
  border-radius: 5px;
  min-width: 20px;
  padding: 3px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: $dark_color;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.level_link_done {
  background-color: orange;
}

.level_link:link {
  color: white;
}

.level_link:visited {
  color: white;
}

.progress-outer {
  background: #d1d567;
  -webkit-border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
}

.progress-inner {
  background: #ffc459;
  width: 50%;
  height: 100%;
  -webkit-border-radius: 9px;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $bkgnd_color;
  color: $header_text;
  a:link {color:$header_text;}
  a:visited {color:$header_text;}
  //a:hover {color:#FF00FF;}  /* mouse over link */
  //a:active {color:#0000FF;}  /* selected link */
}

.header_status_bar {
  background-color: $dark_color;
  border-radius: 5px;
  min-width: 20px;
  padding: 3px;
  font-size: 16px;
  display: inline-block;
}

.header_text {
  font-size: 16px;
  display: inline-block;
}

.main {
  padding-top: 15px;
  padding-bottom: 15px;
  a:link {font-weight: bold; color:$dark_color;}
  a:visited {font-weight: bold; color:$dark_color;}
  a:hover {font-weight: bold; color:$dark_color; background-color: transparent;   text-decoration: underline; }  /* mouse over link */
  a:active {font-weight: bold; color:$dark_color; background-color: transparent;}  /* selected link */
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  background-color: $dark_color;
  color: $header_text;
  a:link {font-weight: bold; color: white;}
  a:visited {font-weight: bold; color: white;}
  a:hover {font-weight: bold; color:white; background-color: transparent;   text-decoration: underline; }  /* mouse over link */
  a:active {font-weight: bold; color:white; background-color: transparent;}  /* selected link */
  select {width: auto}
}
.middleheaderspan {
  padding-top:20px;
  padding-bottom:10px;
  text-align:center;
  position:relative;
  font-size: 150%;
  border-bottom: 1px solid $inset_color;
  border-bottom-style: inset;
}

.header_separator {
  padding-left: 2px;
  margin-bottom: -18px;
  margin-top: -8px;
  margin-right: 2px;
  height: 42px;
  border-right: 1px solid $inset_color;
  border-right-style: inset;
  display: inline-block;
}

.user_menu a {
  vertical-align: bottom;
}

.user_options {
  display: inline-block;
  background-color: white;
  a:link {color:black;}
  a:visited {color:black;}
  a:hover {color:white;}
  border: 1px solid black;
  z-index: 100001;
  text-align: left;

  padding: 10px;
  left: auto;
  bottom: auto;
}

.user_options a {
  color: black;
}

.full_container {
  padding: 25px;
}

.modal {
  a:hover {color:#FF0000; background-color: white; opacity: 100;}
}

.modal-body {
  max-height: none;
}

.video-player {
  width: 100%;
  height: 500px;
  margin: 0;
  border: 1px solid black;
}

.video-modal {
  z-index: 10000;

  &.modal{
    width: 940px;
    height: 600px;
    margin-left: -470px;
  }
}

.header_popup {
  display:none;
  top:auto;
  position:absolute;
  left:50%;
  height: 600px;
  width:620px;
  margin-left:-330px;
  margin-top:-20px;
  border: 20px solid $bkgnd_color;
  border-top: 5px;
  border-bottom: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  z-index: 1050;
  background-color: white;
  overflow: hidden;
}

.header_popup_header {
  padding: 12px 15px;
  margin-bottom: 0;
  text-align: left;
  color: $header_text;
  background-color: $hdr_color;
  font-size: 22px;
  cursor: pointer;
}

.header_popup_footer {
  padding: 12px 15px;
  margin-bottom: 0;
  text-align: right;
  color: $header_text;
  background-color: $bkgnd_color;
  cursor: pointer;
}

.header_popup_link {
  max-width: 40px;
  display: inline-block;
  text-align: center;
  height: 26px;
  cursor: pointer;
}

.header_trophy_link:hover {
  background-color: transparent;
  text-decoration: none;
}

.header_popup_link:hover {
  background-color: transparent;
  text-decoration: none;
}

.header_popup_link_glyph {
  font-size: 22px;
  color: orange;
  display: inline-block;
  line-height: 2px;
}

.header_popup_link_text {
  font-size: 10px;
  color: $header_text;
  display: inline-block;
  line-height: 10px;
}

.close {
  color:red;
  font-size: 24pt;
}

.reference_area {

  .help_text {
    color: #1180be;
    font-weight:bold;
    font-size:17.5px;
  }

  .video-link {
    display: block;
    float: left;
    margin: 8px;
  }

  .video_name {
    text-align: center;
  }

}
