/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

body {
  padding: 10px;
}

.navbar {
  margin-bottom: 30px;
}

.production {
  background-color: lightgray;
}

.level_box {
  width: 17px;
  height: 17px;
  margin: 3px;
  display: inline-block;
}

.level_untried {
  background-color: lightgray;
}

.level_undone {
  background-color: gray;
}

.level_done {
  background-color: lightgreen;
}

.level_aced {
  background-color: green;
}

.level_video {
  background-color: purple;
}

.level_current {
  position: relative;
  border: 3px solid yellow;
  top: 3px;
}

.progress-outer {
  background: #333;
  -webkit-border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
}

.progress-inner {
  background: orange;
  width: 50%;
  height: 100%;
  -webkit-border-radius: 9px;
}
