/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */
@import "bootstrap";

body {
  padding: 10px;
  //font-family: gotham;
}

.navbar {
  margin-bottom: 30px;
}

.production {
  background-color: lightgray;
}

.level_highlight {
  border-radius: 18px;
  color: white;
  font: 15px/13px Helvetica, Verdana, Tahoma;
  height: 20px; 
  padding: 6px 3px 0 3px;
  text-align: center;
  min-width: 20px;
  display: inline-block;
}

.level_current_header {
  background-color: orange;
}

.level_count {
  background-color: gray;
}

.other_level {
  border-radius: 12px;
  height: 12px;
  min-width: 12px;
  margin-left: -1px;
  margin-right: -1px;
  display: inline-block;
}

.level_box {
  width: 17px;
  height: 17px;
  margin: 3px;
  display: inline-block;
}

.level_untried {
  background-color: lightgray;
}

.level_undone {
  background-color: gray;
}

.level_done {
  background-color: lightgreen;
}

.level_aced {
  background-color: green;
}

.level_video {
  background-color: purple;
}

.level_current {
  position: relative;
  border: 3px solid yellow;
  top: 3px;
  margin-top: -3px;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 0px;
}

.progress-outer {
  background: #d1d567;
  -webkit-border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
}

.progress-inner {
  background: #ffc459;
  width: 50%;
  height: 100%;
  -webkit-border-radius: 9px;
}

$header_text: white;

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #00adbc;
  color: $header_text;
  a:link {color:$header_text;}
  a:visited {color:$header_text;}
  //a:hover {color:#FF00FF;}  /* mouse over link */
  //a:active {color:#0000FF;}  /* selected link */
}

.header_status_bar {
  background-color: #5b6770;
  border-radius: 5px;
  min-width: 20px;
  padding: 3px;
  font: 16px/14px Helvetica, Verdana, Tahoma;
  display: inline-block;
}

.header_text {
  font: 16px/14px Helvetica, Verdana, Tahoma;
  display: inline-block;
}

.user_menu a {
  vertical-align: bottom;
}

.user_options {
  display: inline-block;
  background-color: white;
  a:link {color:black;}
  a:visited {color:black;}
  a:hover {color:white;}
  border: 1px solid black;
  z-index: 100001;
  text-align: left;

  padding: 10px;
  left: auto;
  bottom: auto;
}

.user_options a {
  color: black;
}

.full_container {
  padding: 25px;
}
