/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require_self
 *= require_tree .
 */

$baseFontFamily: 'Gotham A', 'Gotham B', sans-serif;
$headingsFontWeight: 400;
$btnPrimaryBackground: orange;
$btnPrimaryBackgroundHighlight: orange;

@import "bootstrap";
@import "color";

@mixin unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@mixin selectable {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

p,pre,span {
  @include selectable;
}

body {
  @include unselectable;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 10px;
  font-style: normal;
}

h1 {
  font-weight: 700;
  color: #7665a0;
}

h2 {
  font-weight: 500;
}

hr {
  border-color: #0094ca;
  border-bottom: none;
}

th {
  background-color: #5b6770;
  color: white;
  border: 1px solid white;
  text-align: left;
  font-size: 120%;
  font-weight: 500;
  padding: 5px;
}

.clear {
  clear: both;
}

.navbar {
  margin-bottom: 30px;
}

.production {
  background-color: lightgray;
}

.level_highlight {
  border-radius: 20px;
  color: white;
  font-size: 16px;
  height: 22px;
  padding: 4px 2px 0 2px;
  text-align: center;
  min-width: 22px;
  display: inline-block;
}

.level_highlight:hover {
  text-decoration: none;
  background-color: orange;
}

.level_current_header {
  background-color: orange;
}

.level_current_header:hover {
  background-color: orange;
}

.other_level {
  border-radius: 10px;
  height: 10px;
  min-width: 10px;
  margin-left: -1px;
  margin-right: -1px;
  display: inline-block;
}

.other_level:hover {
  background-color: orange;
}

.level_box {
  width: 17px;
  height: 17px;
  margin: 3px;
  display: inline-block;
}

.level_untried {
  background-color: white;
}

.level_undone {
  background-color: $dark_color;
}

.level_done {
  background-color: #e7e9ad;
}

.level_aced {
  background-color: #b9bf15;
}

.trophy_gold {
  background-color: gold;
}

.trophy_silver {
  background-color: silver;
}

.trophy_bronze {
  background-color: darkgoldenrod;
}

.report_cell {
  text-align: center;
  color: white;
  border: 1px solid black;
}

.report_row {
  height: 26px;
  border-top: 1px solid black;
}

.report_key {
  height: 16px;
  border-radius: 5px;
  display: block;
  float: left;
  clear: left;
  width: 23px;
  border: 1px solid lightgray;
  margin: 5px;
  vertical-align: middle;
}

.report_key_cell {
  padding: 3px;
  visibility: middle;
}

.level_current {
  position: relative;
  border: 3px solid yellow;
  top: 3px;
  margin-top: -3px;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 0px;
}

.level_link {
  border-radius: 5px;
  min-width: 20px;
  line-height: 22px;
  padding: 2px 3px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: $dark_color;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.level_link_done {
  background-color: orange;
  padding: 2px 2px 1px 2px;
}

.single-game {
  margin-top: 8px;
  a {
    border-radius: 5px;
    line-height: 22px;
    padding: 6px;
    background-color: $dark_color;
    &.level-done {
      background-color: $orange;
    }
    &:hover {
      background-color: black;
      text-decoration: none;
    }
    span {
      color: white;
    }
  }
}

.progress-outer {
  background: #d1d567;
  -webkit-border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
}

.progress-inner {
  background: #ffc459;
  width: 50%;
  height: 100%;
  -webkit-border-radius: 9px;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $bkgnd_color;
  color: $header_text;
  a:link {color:$header_text;}
  a:visited {color:$header_text;}
  //a:hover {color:#FF00FF;}  /* mouse over link */
  //a:active {color:#0000FF;}  /* selected link */
}

.header_status_bar {
  background-color: $dark_color;
  border-radius: 5px;
  min-width: 20px;
  padding: 3px;
  font-size: 16px;
  display: inline-block;
}

.header_text {
  font-size: 16px;
  display: inline-block;
}

.main {
  padding-top: 15px;
  padding-bottom: 15px;
  a:link {font-weight: bold; color:$dark_color;}
  a:visited {font-weight: bold; color:$dark_color;}
  a:hover {font-weight: bold; color:$dark_color; background-color: transparent;   text-decoration: underline; }  /* mouse over link */
  a:active {font-weight: bold; color:$dark_color; background-color: transparent;}  /* selected link */
}

a.level_link:link,a.level_link:visited { color: white; font-weight: 400; }
a.level_link:hover { color: white; font-weight: 400; background-color: black; text-decoration: underline; }
a.level_link:active { color: white; font-weight: 400; background-color: black; }

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  background-color: $dark_color;
  color: $header_text;
  a:link {font-weight: bold; color: white;}
  a:visited {font-weight: bold; color: white;}
  a:hover {font-weight: bold; color:white; background-color: transparent;   text-decoration: underline; }  /* mouse over link */
  a:active {font-weight: bold; color:white; background-color: transparent;}  /* selected link */
  select {width: auto}
}

.header_separator {
  padding-left: 2px;
  margin-bottom: -18px;
  margin-top: -8px;
  margin-right: 2px;
  height: 42px;
  border-right: 1px solid $inset_color;
  border-right-style: inset;
  display: inline-block;
}

.user_menu {
  a:hover { background-color: transparent; text-decoration: none; display: inline-block; }
}

.user_menu a {
  vertical-align: bottom;
}

.user_options {
  display: inline-block;
  background-color: white;
  a:link {color:black;}
  a:visited {color:black;}
  a:hover { color:white; background-color: $dark_color; text-decoration: none; }
  a:active { color:white; background-color: $dark_color; }
  border: 1px solid black;
  z-index: 100001;
  text-align: left;
  white-space: nowrap;
  color: black;
  position: absolute;
  right: 0;
  padding: 10px;
  left: auto;
  bottom: auto;
}

.user_options a {
  color: black;
}

.full_container {
  padding: 25px;
}

.modal {
  a:hover {color:#FF0000; background-color: white; opacity: 100;}
}

.modal-body {
  max-height: none;
}

.dash_modal {
  width: 640px;
  margin-left: -320px;
}

.dash_modal_body {
  padding-right: 25px;
}

.btn#dataConfirmOK:hover {
  color: white;
  background-color: orange;
  opacity: 100;
}

#video {
  padding: 0;
}

.video-player {
  width: 100%;
  height: 100%;
  margin: 0;
}

.video-modal {
  z-index: 10000;

  .ui-tabs {
    height: 100%;
    width: 100%;
  }
}

.header_logo {
  position: absolute;
  float: left;
  left: 25px;
  min-width: 86px;
  z-index: 1;
  background-color: $bkgnd_color;
}

.header_middle {
  position: absolute;
  left: 0;
  right: 0;
}

.header_level {
  position: relative;
  padding-top: 28px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 150%;
  cursor: default;
  white-space: nowrap;
}

.header_level_container {
  border-bottom: 1px solid $inset_color;
  border-bottom-style: inset;
  padding-bottom: 10px;
  display: inline-block;
}

.header_user {
  position: absolute;
  float: left;
  right: 25px;
  text-align: right;
}

.header_popup {
  display:none;
  top:auto;
  position:absolute;
  left:50%;
  width:635px;
  margin-left:-330px;
  margin-top:-20px;
  border: 20px solid $bkgnd_color;
  border-top: 5px;
  border-bottom: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  z-index: 1050;
  background-color: white;
  overflow: hidden;
}

.header_popup_header {
  padding: 12px 15px;
  margin-bottom: 0;
  text-align: left;
  color: $header_text;
  background-color: $hdr_color;
  font-size: 22px;
  cursor: pointer;
}

.header_popup_body {
  position: relative;
  overflow-y: auto;
  display: block;
  padding: 10px;
  min-height: 508px;
}

.header_popup_footer {
  padding: 12px 15px;
  margin-bottom: 0;
  text-align: right;
  color: $header_text;
  background-color: $bkgnd_color;
  cursor: pointer;
}

.header_popup_link {
  min-width: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 26px;
  cursor: pointer;
}

.transparent_backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: transparent;
}

.header_trophy_link:hover {
  background-color: transparent;
  text-decoration: none;
}

.header_finished_link {
  display: inline-block;
  font-size: 16px;
}

.header_finished_link:hover {
  background-color: transparent;
  text-decoration: underline;
}

.header_popup_link:hover {
  background-color: transparent;
  text-decoration: none;
}

.header_popup_link_glyph {
  font-size: 22px;
  color: orange;
  line-height: 10px;
}

.header_popup_link_text {
  font-size: 10px;
  color: $header_text;
  display: inline-block;
  line-height: 20px;
}

.trophy_image {
  width: 45px;
  height: 45px;
}

.stage_separator {
  padding-top: 8px;
  margin-bottom: 4px;
  border-bottom: 1px solid $inset_color;
  border-bottom-style: inset;
}
.game-group:last-child .stage_separator {
  display: none;
}

.prize-msg {
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
}

.prize-card-img {
  width: 280px;
  height: 140px;
}

.prize-item-grid {
  width: 300px;
  float: left;
  height: 200px;
}

.prize-code {
  border: 1px;
  border-color: black;
  border-style: solid;
  background-color: cornsilk;
  padding: 2px 6px;
}

.prize-redemption {
  white-space: pre-line;
}

.prize-confirm-redemption {
  white-space: pre-line;
  max-height: 200px;
  overflow-y: scroll;
  border-color: black;
  border: 1px;
  border-style: solid;
  padding: 5px;
}

.prize-item-mini-grid {
  width: 115px;
  float: left;
  height: 40px;
}

.prize-card-mini-img {
  width: 105px;
}

#alert {
  color: red;
  font-size: 130%;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
}

.modal-body {
  height: 100%;
  overflow: visible;
}

#blocklyApp {

  .loading {
    height: 520px;
    margin: 20px;
    background: image-url("spinner-big.gif") no-repeat center center;
  }

  .slow_load {
    display: none;
    text-align: center;
    position: relative;
    top: -230px;
  }

}

.reference_area {
  margin-top: 20px;
  width: 400px;

  .help_title {
    color: #1180be;
    font-weight: bold;
    font-size: 17.5px;
    display: inline-block;
  }

  .video_link {
    display: inline-block;
    margin: 6px;
  }

  .video_name {
    text-align: center;
    width: 183px;
  }

  .help_subtitle {
    display: inline-block;
  }
}

#notes-outer {
  overflow-y: scroll;
  padding: 0;
}
#notes {
  .note {
    padding-bottom: 10px;
    p {
      font-size: 20px;
      line-height: 24px;
      padding-right: 30px;
    }
    img {
      float: left;
      width: 450px;
      height: auto;
      padding-right: 30px;
    }
  }
}

// Tabs

.video-modal {
  .modal-body {
    padding: 0;
  }
  .ui-tabs-nav {
    background: $light_gray;

    li {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      a {
        background: $dark_color;
        color: white;
        &:hover {
          color: $light_green;
        }
        &:focus {
          outline: 0;
        }
      }
    }

    li.ui-state-active {
      a {
        background: white;
        color: $orange;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

.x-close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 60px;
  height: 60px;
  z-index: 1;
  cursor: pointer;
  &:hover {
    width: 62px;
    height: 62px;
    top: -21px;
    right: -21px;
  }
}

a.download-video {
  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 40px;
  &:hover {
    background: none;
  }
  img:hover {
    width: 41px;
    height: 41px;
    margin-bottom: -1px;
  }
}

#warning-banner {
  font-size: 36px;
  line-height: 36px;
  background-color: $dark_color;
  text-align: center;
  a {
    display: block;
    vertical-align: text-bottom;
    color: white;
    &:hover {
      background-color: $dark_color;
    }
  }
}

.quiet_links {
  a:link { font-weight: normal; }
}

.fixed_width_cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  padding-left: 5px;
}
