@import "color";

.unplugged {
  $page_width: 800px;

  width: $page_width;
  margin-left: auto;
  margin-right: auto;

  iframe {
    width: $page_width;
    height: $page_width / (16 / 9);
    margin-top: 20px;
  }

  .pdf-button {
    margin-right: 10px;
  }

  .next-stage {
  }
}
